.dog-card {
    background-color: royalblue;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    font-weight: bold;
    margin-bottom: 3px;
}

.age {
    margin-bottom: 10px;
}

.facts {
    list-style: none;
    font-size: large;
    transform: translateX(-12px);
}

.fact {
    margin-bottom: 2px;
}